.container {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  transform: translate(-50%, -50%);

  display: flex;
}

.textContainer {
  width: 100%;
  padding: 5px;
}
