.mapContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  border: 1px dashed white;
}

.commandBarContainer {
  position: absolute;

  // Align absolute positioned element to the center
  left: 50%;
  transform: translate(-50%, 0);

  top: 10%;
}

.svgCanvas {
  width: 100%;
  height: 100%;
}
